@model User

<h1 class="is-size-2">Tu perfil</h1>

<p>Nombre de usuario: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Contraseña: @Model.Password</p>
<p>Fecha de registro: @Model.RegistrationDate</p>



