@model List<User>

<h1 class="is-size-2">Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Fecha de Registro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.RegistrationDate</td>
            </tr>
        }
    </tbody>
</table>