@model User
@{
    ViewData["Title"] = "Registrarse";
}
<h1 class="is-size-2">Registrarse</h1>

<form asp-action="Create" asp-controller="Register" method="post">
    <div class="field">
        <label for="Name" class="label">Nombre de usuario</label>
        <div class="control">
            <input asp-for="Name" id="Name" name="Name" class="input" type="text" placeholder="juanmanuel">
            <span asp-validation-for="Name" class="has-text-danger"></span>
        </div>
    </div>

    <div class="field">
        <label for="Email" class="label">Email</label>
        <div class="control">
            <input asp-for="Email" id="Email" name="Email" class="input" type="email" placeholder="juanmanuel@gmail.com">
            <span asp-validation-for="Email" class="has-text-danger"></span>
        </div>
    </div>

    <div class="field">
        <label for="Password" class="label">Contraseña</label>
        <div class="control">
            <input asp-for="Password" id="Password" name="Password" class="input" type="password">
            <span asp-validation-for="Password" class="has-text-danger"></span>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Registrarse</button>
        </div>
    </div>
</form>
